![Atalhos%20Jupyter.jpg](https://i.pinimg.com/originals/19/8f/d6/198fd6fc321dff3a4ea799d4fba61b97.jpg)

# Python Recap
Let's start by reviewing some concepts we saw during the pre-work.

## Types (Data Structures)
Through the bootcamp we will handle different types of information: words, numbers, sets, list, etc... These structures are called **types**. Today we will review the basic types of data structures **strings**, **booleans**, **integers**, **floats** e **lists**.

### Strings (str)
Strings, called `str` in Python, are **sequences of characters** - usually thought of as *words*.

In [3]:
print("ABC")

ABC

In [2]:
type('ABC')

str

In [4]:
print('1')

1

In [5]:
type('1')

str

### Booleans (bool)
Boolean values, called `bool`, are logical data which can only have two different values: `True` e `False`

In [6]:
print(True)

True

In [7]:
type(True)

bool

In [8]:
print(False)

False

In [11]:
type(False)

bool

### Integers
Integers, called `int` in Python, represent the *whole numbers*:

In [13]:
print(1)

1

In [14]:
type(1)

int

In [15]:
type('1')

str

### Floats
Floats, called `float`, are rational numbers of fixed precision (https://docs.python.org/3/tutorial/floatingpoint.html).

In [16]:
print(3.2)

3.2

In [17]:
type(3.2)

float

In [18]:
type(1.)

float

In [19]:
2/1

2.0

### Lists

`Lists` are the first complex data structure we will use in Python. Lists represent **ordered sequences** of elements:

In [21]:
print([3, 2, 3])

[3, 2, 3]

In [22]:
type([1, 2, 3])

list

We can access specific elements of a list using **index**, through the notation `name_of_list[index]`, where `index` is an `int`.

In [23]:
[1, 2, 3][0]

1

In [24]:
type([1, 2, 3][1])

int

We can store any type of data inside a list, even other lists!

In [25]:
[1, 'ABC', [2, '35']]

[1, 'ABC', [2, '35']]

In [26]:
type([1, 'ABC', [2, '35']])

list

In [27]:
type([1, 'ABC', [2, '35']][2])

list

In [31]:
[1, 'ABC', [2, ['35', 2]]][2][1][0]

'35'

In [32]:
[1, 'ABC', [2, ['35', 2]]][2]

[2, ['35', 2]]

In [33]:
[2, ['35', 2]][1]

['35', 2]

In [34]:
['35', 2][0]

'35'

In [35]:
[1, 'ABC', [2, '35']][2][1]

'35'

In [36]:
type([1, 'ABC', [2, '35']][2])

list

In [41]:
[1,2,3][3]

IndexError: ignored

## Variables

So far we've only seen how to print and represent different data types inside Python. To manipulate data we must **store** it in **variables**.

We can create variables using the assignment operator: `=`.

In [46]:
x = 1

In [47]:
print(x)

1

In [48]:
type(x)

int

In [52]:
x = x+1
print(x)

5

In [53]:
x += 1
print(x)

6

In [59]:
x = "Pedro"

In [55]:
print(x)

Pedro

In [56]:
x = [1,2,3]

In [60]:
x = 1

In [61]:
x[0]

TypeError: ignored

### f-Strings

Besides the traditional **strings** we've seen so far, we can use *f-strings* to represent variables inside a string:

In [64]:
s = f'The value of x is {1+1}'

In [69]:
X = 3
print('O valor de x é', X)

O valor de x é 3

In [65]:
s

'The value of x is 2'

In [67]:
x = 11
print(f'The value of x is {x}')

The value of x is 11

In [ ]:
meu_nome = 'Pedro'
print(f'Meu nome é {meu_nome}')

In [ ]:
meu_nome = [1,2,3]
print(f'Meu nome é {meu_nome}')

In [70]:
nome_aluno = 'Pedro'
a = f'file_aluno_{nome_aluno}_grades.csv'

In [71]:
a

'file_aluno_Pedro_grades.csv'

## Operators
**Operators** are transformations defined between elements. When these elements are numbers (`int` or `float`), the operators are the traditional mathematical operations. Inside Python, operators can also be used between other types, but first let's see them operating in the traditional mathematical context:

In [74]:
soma = 2 + 2.
sub = 2 - 2
mult = 2 * 2
div = 2 / 3
exp = 2 ** 3
mod = 7%3
print(soma)
print(sub)
print(mult)
print(div)
print(exp)
print(mod)

4.0
0
4
0.6666666666666666
8
1

We can also use the addition operator (`+`) between `strings` & the multiplication operator (`*`) between a `string` and an `int`:

In [75]:
soma = 'Pedro ' + 'Teche'
print(soma)

Pedro Teche

In [79]:
a = 1
print(a + 'Teche')

TypeError: ignored

In [83]:
mult = 'Pedro ' * 3
print(mult)

Pedro Pedro Pedro

In [84]:
type(mult)

str

In [85]:
mult

'Pedro Pedro Pedro '

Like lists, `strings` can also be indexed!

In [87]:
mult[0]

'P'

`lists` can also be added (through the `+` operator) and multiplied (`*` operator) like strings: `lists + list` and `list * int`:

In [90]:
soma = [1, 2] + [3, 4] + [7, 8, 9]
print(soma)

[1, 2, 3, 4, 7, 8, 9]

In [103]:
mult = [1, 2] * 0
print(mult)

[]

When we use the operators on `boolean` types they behave like numbers! `True` becomes `1` and `False` becomes `0`

In [104]:
soma = True + True
sub = True + True - False
mult = True * True * True * True * False
div = 2 / True
print(soma)
print(sub)
print(mult)
print(div)

2
2
0
2.0

The last type of operators are the logical operators, which allow us to compare two different elements:

In [109]:
0.2000000000001 == 0.2

False

In [110]:
'A' == 'a'

False

In [111]:
a = 1
A = 2

In [115]:
type(a)

int

In [118]:
[1,2] > [1,2,3]

False

In [117]:
1 < 3

True

In [119]:
1 <= 1

True

In [120]:
1 >= 0

True

In [ ]:
BACK AT 16H!!!

In [122]:
"My name is {}, I'm {}".format("John",36)

"My name is John, I'm 36"

In [121]:
name = "John"
age = 36
f"My name is {name}, I'm {age}"

"My name is John, I'm 36"

## Control blocks

Control blocks allow us to control: execute certain commands (*lines of code*) or repeating the execution of a few *lines of code*. Python has 3 fundamental control structures: **if** (conditional), **for** (loops) and **while** (conditional loops).

### Conditional (if, elif, else)
Conditionals allow us to control code execution based on different boolean evaluations:

In [126]:
1 == 1

True

In [127]:
a = 1

if 1 == 1:
    print('Wrong')
    a = 10

print(a)

Wrong
10

In [124]:
print(x)

11

In [129]:
if 1 == 2:
    print('Wrong')
else:
    print('Right')

Right

In [130]:
if 1 == 1:
    print('Errado')
else:
    print('Certo')

Errado

In [132]:
x = 1
if x == 1:
    print('X é 1')
else:
    print('X não é 1')

X é 1

In [133]:
x = 'ABC'
type(x)

str

In [134]:
type(x) == int

False

In [140]:
x = 1.2
if type(x) != str:
    print(x + 1)
else:
    print(x)

2.2

In [138]:
type(x) != str

False

The first conditions if the one that follows the `if`. Já o `else` nos permite executar certas linhas quando essa condição não é verdadeira.

Podemos utilizar o `elif` (lido *else if*) para encadear diversas condições em série:

In [151]:
x = input('Digite um nome')

Digite um nomepedro

In [152]:
x

'pedro'

In [153]:
if x == 'Pedro':
    print('Me')
elif x == 'Adriano':
    print('Querido TA')
elif x == 'Luis':
    print('Aluno DAFT Mex!')
else:
    print('Não sei...')

Não sei...

Além de condições simples, podemos construir condições mais complexas através dos operadores lógicos `and` e `or`:

In [161]:
0 < 10 and 0 > -5

True

In [163]:
1 < 7 or 6 < 5

True

In [164]:
1 < 7 or 6 < 7

True

In [165]:
x = 21
if x >= 0 and x < 10:
    print('X entre 0 e 9')
elif x >= 10 and x < 20:
    print('X entre 10 e 19')
elif x < 0:
    print('X menor que 0')
else:
    print('X é maior que 19')
x=1

X é maior que 19

### Loop (for)

Para executar um conjunto de linhas de forma repetida, podemos utilizar um **loop**. O loop é uma estrutura de controle que nos permite percorrer um **iterável** (por exemplo, uma lista) e executar um conjunto de linhas para cada elemento deste iterável.

In [170]:
a = [4,5,6]

for i in a:
  print(f'Hello for the {i}th time!')

Hello for the 4th time!
Hello for the 5th time!
Hello for the 6th time!

In [171]:
esta_lista = [3, 2, 4]

In [176]:
for elemento in esta_lista:
    elemento_quadrado = elemento ** 2
    print(elemento_quadrado)

9
4
16

In [173]:
elemento = esta_lista[0]
elemento_quadrado = elemento ** 2
print(elemento_quadrado)

9

In [174]:
elemento = esta_lista[1]
elemento_quadrado = elemento ** 2
print(elemento_quadrado)

4

In [175]:
elemento = esta_lista[2]
elemento_quadrado = elemento ** 2
print(elemento_quadrado)

16

Podemos utilizar condicionais dentro de loops:

In [180]:
outra_lista = [2, 3, 5, 'Pedro']

In [181]:
for elemento in outra_lista:
    if type(elemento) == int or type(elemento) == float:
        print(f'Elemento ao quadrado = {elemento ** 2}')
    else:
        print(f'Elemento original = {elemento}')

Elemento ao quadrado = 4
Elemento ao quadrado = 9
Elemento ao quadrado = 25

TypeError: ignored

Por fim podemos utilizar loops dentro de loops (nesting):

In [182]:
terceira_lista = [[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [188]:
for elemento in terceira_lista:
    print(type(elemento))

<class 'list'>
<class 'list'>
<class 'list'>

In [189]:
for lista_inside in terceira_lista:
  for elemento in lista_inside:
    print(elemento)

1
2
3
2
3
4
4
5
6

In [194]:
for elemento in terceira_lista:
  print('Changing inner list')

  for outro_elemento in elemento:
    print(outro_elemento)
  print('Finished with inner list!')
print('Finished everything!')

Changing inner list
1
2
3
Finished with inner list!
Changing inner list
2
3
4
Finished with inner list!
Changing inner list
4
5
6
Finished with inner list!
Finished everything!

In [193]:
for lista in terceira_lista:
    print(lista)
    for elemento in lista:
        print(f'Elemento ao quadrado = {elemento ** 2}')

[1, 2, 3]
Elemento ao quadrado = 1
Elemento ao quadrado = 4
Elemento ao quadrado = 9
[2, 3, 4]
Elemento ao quadrado = 4
Elemento ao quadrado = 9
Elemento ao quadrado = 16
[4, 5, 6]
Elemento ao quadrado = 16
Elemento ao quadrado = 25
Elemento ao quadrado = 36

### Loop condicional (while)

Para executar um conjunto de linhas de forma repetida, podemos utilizar um **loop**. O loop é uma estrutura de controle que nos permite percorrer um **iterável** (por exemplo, uma lista) e executar um conjunto de linhas para cada elemento deste iterável.

In [196]:
x = 0
for lista in terceira_lista:
  print(lista)
  x = x+1
  print(x)

[1, 2, 3]
1
[2, 3, 4]
2
[4, 5, 6]
3

In [ ]:
x = 1
while x < 10:
    x += 1
    print(x)

In [200]:
absurdo = None

while absurdo != 'Pedro':
    absurdo = input('Digite meu nome: ')
    if absurdo == 'Pedro':
        print('Parabéns!')
    else:
        print('Tente de novo...')

Digite meu nome: Luis
Tente de novo...
Digite meu nome: Sandra
Tente de novo...
Digite meu nome: Berenice
Tente de novo...
Digite meu nome: Pedro
Parabéns!

In [ ]:
absurdo = None
type(absurdo)

Além dos dois exemplos acima, uma construção muito comum em loops condicionais são os *loops infinitos* (`while True:`). Esta forma nos permite construir condições de quebra complexas dentro do loop através de condicionais normas e do comando `break`.

In [201]:
while True:
    nome = input('Digite um nome: ')
    if nome == 'Adriano' or nome == 'Pedro':
        print('Parabéns!')
        break
    else:
        print('Tente de novo...')

Digite um nome: lkjfljk
Tente de novo...
Digite um nome: dsakdjsa
Tente de novo...
Digite um nome: Adriano
Parabéns!

In [ ]:
a = [[1,2,3], [2,3,[4]], [1], 1]

# Desafio

Conforme vimos anteriormente, listas podem conter listas. E as listas dentro de uma lista podem conter mais listas ainda... Esse tipo de estrutura é muito comum. O número de listas dentro de listas é chamado de **profundidade**. Por exemplo, a lista abaixo tem profundidade 2 (seu terceiro elemento é uma lista simples):

In [ ]:
p2 = [1, 2, [1, 2, 3]]
print(p2)

Enquanto a próxima tem profundidade 3 (seu terceiro elemento é uma lista que também contém uma lista):

In [ ]:
p3 = [1, 2, [1, 2, [1, 2]]]
print(p3)

In [ ]:
for i in range(5, 1, -1):
    print(i)

Uma tarefa comum é *desempacotar* uma lista: sair de `[1, [1, 2]]` para `[1, 1, 2]`.

Utilizando o que aprendemos hoje, construa um algoritmo para desempacotar uma lista de profundidade arbitrária!

In [ ]:
lista = [1,[1,2, [3, 4, 5]], [2,3, [4, 5, 6, [1]]], [1]]
lista_chata = []
for item in lista:
    if type(item) != list:
        lista_chata.append(item)
    new_item = item
    while type(new_item) == list:
        current_item = new_item
        for newer_item in new_item:
            if type(newer_item) == list:
                new_item = newer_item
            else:
                lista_chata.append(newer_item)
        if current_item == new_item:
            break
            
print(lista_chata)

In [204]:

def my_print(x):
  new_var = 1
  print(x)

In [205]:
my_print(2)

2

In [207]:
PI = 3.1415
def my_sec_print(x):
  print(y)

In [208]:
my_sec_print(20)

1

In [209]:
def my_func(x):
  new_var = 1
  return new_var

In [210]:
x = my_func()

In [212]:
my_func()

1

In [ ]:
PI = 3.1415
A_DIFFERENT_CONSTANT = 2
def circle_area(r):
  return r ** 2 * PI

In [214]:
a = 5

def mult(x):
  a = 2 * 4

def sub(x):
  print(a - 1)

UnboundLocalError: ignored

In [217]:
def mult(x):
  a = x * 2
  return a

def sub(x):
  a = x - 1
  return a

In [216]:
a = mult(2)
print(sub(a))

3

In [218]:
x = 0
def unpack_list():
  x += 1
  print(x)

In [222]:
a = unpack_list([1,2])

In [224]:
a[0]

1

In [221]:
b

2

In [225]:
a = [1, 2, 3]
for element in a:
  print('a')

a
a
a